@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Righteous&family=Ubuntu&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --voilet: #530093;
  --navfont: 'Righteous', cursive;
  --backgroundImg: url(./images/chevolet-hero\ cut-2.jpg);
  --backgroundImgTwo: url(./images/gabriel-gurrola-u6BPMXgURuI-unsplash\ resize.jpg);
  --backgroundImgMobile: url(./images/gabriel-gurrola-u6BPMXgURuI-unsplash-mobile.jpg);
  --poppins: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

